root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 185
ij_visual_guides = 185
insert_final_newline = false

[*.cs]
csharp_using_directive_placement = inside_namespace